html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    font-weight: 200;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ==================================================================== */

.header {
    width: 100%;
    text-align: center;
}

.header h1 {
    font-size: 70px;
    color: #23282D;
    border-bottom: 5px solid #BDBDBD;
    font-weight: 100;
    margin-top: 80px;
    padding-bottom: 10px;
}

.header h2 {
    color: #757575;
    font-size: 51px;
    padding: 10px;
}

.header .button {
    color: #757575;
    border: 2px solid #757575;
    text-decoration: none;
    padding: 8px 37px;
    font-size: 20px;
    line-height: 2.5;
    border-radius: 1000px;
    transition: 1s;
    cursor: pointer;
    user-select: none;
}

.header .button:hover {
    background: #757575;
    color: #fff;
}

.header p {
    font-size: 28px;
    color: #757575;
    line-height: 1.5;
}

.header .home {
    line-height: 2;
    font-size: 30px;
    text-decoration: none;
    color: #757575;
}

/* ==================================================================== */
.table {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    height: 300px;
    border: 2px solid #757575;
    border-radius: 20px;
    margin: 25px;
}

.card h3 {
    font-size: 49px;
    color: #23282D;
    padding-top: 27px;
}

.card .stockPrice {
    font-size: 30px;
    color: #23282D;
    padding: 15px 0px;
}

.card .fa-arrow-alt-circle-up {
    font-size: 48px;
    color: #757575;
    transition: 1s;
    transform: rotate(90deg);
    padding: 10px 0px;
}

.card .fa-plus-circle {
    font-size: 40px;
    color: #03A9F4;
    padding: 5px 20px;
    cursor: pointer;
    user-select: none;
}

.card .fa-minus-circle {
    font-size: 40px;
    color: #FF5252;
    padding: 5px 20px;
    cursor: pointer;
    user-select: none;
}

.card .stockQuantity {
    font-size: 17px;
    color: #23282D;
    padding: 10px 0px;
}
/* ==================================================================== */
.footer {
    width: 100%;
    text-align: center;
}

.footer a {
    color: #23282D;
    padding: 25px;
    text-decoration: none;
    font-size: 17px;
}

.footer .blue {
    color: #03A9F4;
}

.footer .red {
    color: #FF5252;
}
/* ==================================================================== */
.help {
    width: 80%;
    overflow: hidden;
    margin: auto;
    margin-bottom: 25px;
}

.help i {
    vertical-align: middle;
}

.help .fa-arrow-alt-circle-up {
    font-size: 48px;
    color: #757575;
    transition: 1s;
    transform: rotate(90deg);
    padding: 50px 10px;
}

.help .pos {
    font-size: 48px;
    color: #03A9F4;
    transition: 1s;
    transform: rotate(0deg);
    padding: 50px 10px;
}

.help .neg {
    font-size: 48px;
    color: #FF5252;
    transition: 1s;
    transform: rotate(180deg);
    padding: 50px 10px;
}

.help .fa-plus-circle {
    font-size: 48px;
    color: #03A9F4;
    padding: 50px 10px;
}

.help .fa-minus-circle {
    font-size: 48px;
    padding: 50px 10px;
    color: #FF5252;
}

.help .button {
    color: #757575;
    border: 2px solid #757575;
    text-decoration: none;
    padding: 8px 37px;
    font-size: 20px;
    line-height: 2.5;
    border-radius: 1000px;
    transition: 1s;
    margin: 50px 10px; 
}
/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */